.container
  .row
    .span9
      %nav
        %ul.primary_nav
          %li= link_to t(:all), tasks_path
          %li= link_to t(:pending), tasks_path(status: :pending)
          %li= link_to t(:done), tasks_path(status: :done)
          %li= link_to t(:fail), tasks_path(status: :expired)
