.container
  .row
    .span9
      %nav
        %ul.primary_nav
          %li= link_to t(:all), '#'
          %li= link_to t(:pending), '#'
          %li= link_to t(:done), '#'
          %li= link_to t(:fail), '#'
